<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
	<p><a href="auth/steam">Sign On with Steam</a></p>
<% } else { %>
	<h2>Hello, <%= user.displayName %>. - <a href='logout'>Logout</a></h2>
<% } %>

<% if(users) {%>
  <% for(i=0;i<users.length;i++){ %>
    <h2><%=player[i].personaname%></h2>
    <div id="user_<%=users[i].steamid%>">
    </div>
    <div id="games_<%=users[i].steamid%>">
    </div>

<script>
  function isFightingGame(appid)
  {
    if(appid==406440||appid==376300||appid==222440||appid==311730||appid==222420
||appid==319280||appid==45760||appid==281050||appid==262150||appid==245170
||appid==208610||appid==222940||appid==244730
)
  return true
    return false
  }


  var ul_node = document.createElement("ul");
  <% for(j=0;j<games[i].length;j++){ %>
    if(isFightingGame(<%= games[i][j].appid %>)){
      var node = document.createElement("li");
      var textnode = document.createTextNode("<%= games[i][j].name %>");
      node.appendChild(textnode);
      ul_node.appendChild(node); 
    }
  <% } %>
  document.getElementById("games_<%=users[i].steamid%>").appendChild(ul_node);
</script>


  <% } %>
<% } %>

<!-- Should redirect to homepage if you're not logged in -->
<p><a href="account">See Account Information</a></p>


